:root{
    --vermelho:#E50914;
    --preta:#141414;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base */
body{
    background: var(--preta);
    font-family: Arial, Times, serif;
    color: white;

}


header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

/*Serie principal*/
.serie-pricipal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("/img/capa1.jpg");

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.serie-pricipal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;

}

.serie-pricipal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao2{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    border-radius: 4px;
    padding: 15px 30px;
    margin-right: 1rem;
    margin-left: 0;
    font-size: 12px;
    padding-left: 2rem;
    padding-right: 2.4rem;
    cursor: pointer;
    transition: .3s ease all;
}

.botao1{
    background-color: (white);
    border: none;
    color: black;
    border-radius: 4px;
    padding: 15px;
    margin-right: 1rem;
    margin-left: 0;
    font-size: 12px;
    opacity: 1;
    cursor: pointer;
    transition: .3s ease all;
    position: relative;
    padding-left: 2rem;
    padding-right: 2.4rem;
}

.botao1:hover{
    background-color: rgb(119, 118, 118);
    color: black;
}

.botao2:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;

}

.serie-pricipal .container{
    width: 400px;
}

.box-series{
    height: 100%;
    width: 100%;
    display: block;
}
.carrosel-series{
    margin-top: 5px;
}
